.App {
  display: flex;
  flex-direction: row;
}

.Home-gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 220px;
  padding: 0;
}

.Home-gallery:after {
  content: "";
  display: block;
  flex-grow: 10;
}

.Home-gallery li {
  height: 40vh;
  flex-grow: 1;
  margin: 5px;
}

.Home-gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Nav {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: black;
  width: 200px;
  height: 100vh;
  position: fixed;
  padding-left: 20px;
  margin-top: 0;
}

.Nav-bottom {
  list-style: none;
  padding-left: 0;
}

.Nav-home {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}

.Nav-item {
  margin: 0.15rem 0;
}

.Nav-item-bottom a {
  text-decoration: none;
  color: black;
}

.Nav-link {
  color: black;
  text-decoration: none;
}

.Nav-top {
  list-style: none;
  padding-left: 0;
}

.Page-gallery {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 200px;
}

.Page-gallery li {
  height: 93vh;
  margin-right: 5px;
}

.Page-gallery-img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 700px) {
  .App {
    flex-direction: column;
  }

  .Home-gallery {
    margin: 0;
  }

  .Nav {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0 20px;
    margin: 0;
  }

  .Page-gallery {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  .Page-gallery li {
    margin: 2.5px 5px;
  }

  .Page-gallery-img {
    width: 100%;
  }
}
