.App {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

.Gallery {
  display: flex;
  height: 95%;
}

.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #acbda1;
  height: 90vh;
}

.Home h1 {
  margin: 0;
  font-weight: normal;
  font-size: 4rem;
  width: 70%;
}

.Image-container {
  padding: 0;
  margin: 0;
}

.Image-element {
  height: 100%;
  object-fit: contain;
  margin-right: 5px;
}

main {
  height: 88vh;
  margin-top: 10vh;
  width: 100%;
}

.Nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  background-color: #acbda1;
  color: black;
  margin: 0;
  padding: 0;
  height: 10vh;
  width: 100vw;
}

.Nav-link-home {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}

.Nav-link {
  color: black;
  text-decoration: none;
}

.Nav-link-active {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .App {
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
  }
  html {
    overflow: hidden;
  }

  body {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .Home {
    align-items: unset;
  }

  .Home h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 3rem;
  }

  .Image-container {
    height: 75vh;
  }

  .Image-element {
    height: 100%;
    margin-right: 5px;
  }
  main {
    height: 88vh;
    margin-top: 20vh;
    width: 100%;
  }
  .Nav {
    width: 100vw;
    height: 20vh;
    padding: 0;
    justify-content: space-evenly;
    z-index: 1;
    flex-direction: column;
  }
}
