.App {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
}

.Gallery {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 200px;
}

.Image-container {
  height: 100%;
  padding: 0;
  margin: 0;
}

.Image-full-dialog {
  box-sizing: border-box;
  height: 100%;
  width: 100vw;
  border: none;
  position: fixed;
  top: 0;
  text-align: center;
  padding: 0;
  background-color: rgba(107, 107, 107, 0.75);
  z-index: 1;
}

.Image-full-content {
  object-fit: contain;
  height: 100%;
}

.Image-small {
  height: 91vh;
  object-fit: cover;
  margin-right: 5px;
}

.Nav {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 200px;
  height: 100vh;
  position: fixed;
  padding-left: 20px;
  margin-top: 0;
}

.Nav-bottom {
  list-style: none;
  padding-left: 0;
}

.Nav-home {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}

.Nav-item {
  margin: 0.15rem 0;
}

.Nav-item-bottom a {
  text-decoration: none;
  color: black;
}

.Nav-link {
  color: black;
  text-decoration: none;
}

.Nav-link-active {
  text-decoration: underline;
}

.Nav-top {
  list-style: none;
  padding-left: 0;
}

@media (max-width: 700px) {
  .App {
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
  }
  html {
    overflow: hidden;
  }

  body {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .Gallery {
    margin: 0 0 0 20px;
    padding-top: 23vh;
  }

  .Image-container {
    height: 50vh;
  }

  .Image-small {
    height: 100%;
    margin-right: 5px;
  }

  main {
    display: flex;
  }

  .Nav {
    width: 100vw;
    height: 20vh;
    padding: 0;
    justify-content: space-evenly;
    z-index: 1;
  }

  .Nav-top {
    padding-left: 20px;
    margin: 0;
  }

  .Nav-bottom {
    padding-left: 20px;
    margin: 0;
  }
}
