.App {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.About {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcf4ea;
  height: 90vh;
}

.About h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  width: 70%;
}

body {
  margin: 0;
  background-color: #fcf4ea;
}

.Gallery-horizontal {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  height: 100%;
  padding-left: 5px;
  -webkit-overflow-scrolling: touch;
}

.Gallery-vertical {
  display: flex;
  flex-wrap: wrap;
  height: 65%;
  flex-grow: 1;
  gap: 50px;
  justify-content: center;
}
.GalleryItem {
  height: 99%;
}

.GalleryList {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  height: 100%;
  padding-left: 5px;
  -webkit-overflow-scrolling: touch;
}

.GalleryListItem {
  position: relative;
  height: 99%;
}

.GalleryName {
  position: absolute;
  top: 50%;
  width: 100%;
  color: white;
  font-size: 3rem;
  text-align: center;
}

.GalleryName:hover {
  color: black;
}
.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcf4ea;
  height: 90vh;
}

.Home h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  width: 70%;
}

.Image-container {
  padding: 0;
  margin: 0;
  flex: 0 0 auto;
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.Image-element {
  height: 100%;
  object-fit: contain;
  margin-right: 5px;
}

main {
  height: 90vh;
  margin-top: 10vh;
  background-color: #fcf4ea;
}

.Nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  background-color: #fcf4ea;
  color: black;
  margin: 0;
  padding: 0;
  height: 10vh;
  width: 100vw;
}

.Nav-link-home {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 1.5rem;
}

.Nav-link {
  color: black;
  text-decoration: none;
}

.Nav-link-active {
  text-decoration: underline;
}

.Loading {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

@media (max-width: 700px) {
  .App {
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
  }
  html {
    overflow: hidden;
  }

  body {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .Gallery {
    scroll-padding-left: 5px;
    scroll-snap-type: x mandatory;
  }

  .GalleryItem {
    height: 70%;
  }

  .GalleryList {
    scroll-padding-left: 5px;
    scroll-snap-type: x mandatory;
  }

  .GalleryListItem {
    height: 70%;
  }
  .Home {
    align-items: unset;
  }

  .Home h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 3rem;
  }

  .Image-container {
    height: 100%;
  }

  .Image-element {
    height: 100%;
    margin-right: 5px;
  }
  main {
    height: 88vh;
    margin-top: 20vh;
    width: 100%;
  }
  .Nav {
    width: 100vw;
    height: 20vh;
    padding: 0;
    justify-content: space-evenly;
    z-index: 1;
    flex-direction: column;
  }
}
